$color-btn-ui-active: #88B5DF;
$color-btn-ui-border: #88B5DF;

%btn-base {
  outline: none;
  display: inline-block;
  //height: 2em;
  padding: 0em 1em;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  white-space: nowrap;
  letter-spacing: 0.02rem;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  background: #fff;
}

.btn-tophead {
  @extend %btn-base;
  padding: 0.375em 0.5em;
  font-size: 11px;
  float: left;
  color: $color-link;
}

.btn-tophead:hover {
  color: #333333;
}

.btn-ui-form {
  display: inline-block;
}

.btn-ui-link {
  @extend %btn-base;
  text-transform: none;
  padding: 4px 8px;
  color: $color-link;
  border: 1px solid $color-btn-ui-border;
  margin-top: 4px;
}

.btn-content-group {
  margin: 0;
  padding: 0;
}

.btn-ui-link_active,
.btn-ui-link_active:active {
  @extend %btn-base;
  text-transform: none;
  padding: 4px 8px;
  border: 1px solid $color-btn-ui-border;
  margin-top: 4px;
  color: #fff !important;
  background-color: $color-btn-ui-active;
}

.btn-ui-link:hover {
  color: #333333;
}

.btn-main-request {
  margin-top: 8px;
  @extend %btn-base;
  font-size: 18px;
  padding: 12px 16px;
  background-color: $secondary-color;
  color: #fff;
  transition: background-color 0.3s ease-out 0.1s;
}

.btn-main-request:hover {
  background-color: #FD8C06;
}

.btn-tariff-moreinfo {
  @extend %btn-base;
  font-size: 12px;
  padding: 4px 8px;
  float: right;
  color: $color-link;
  border: 1px solid $color-link;
  margin-top: 4px;
}

.btn-main-action {
  @extend %btn-base;
  font-size: 12px;
  padding: 4px 8px;
  float: right;
  background-color: $secondary-color;
  color: #fff;
  transition: background-color 0.3s ease-out 0.1s;
}

.btn-main-action:hover {
  background-color: #FD8C06;
}