h3.main-title Оборудование
.row.top-air.btm-air
  .col-md-4
    .block-img
      img(class="img-responsive" src='images/main/loc-montage-1.jpg')
    .block-description
      h3 Большая антенна
      p Монтаж антенны к дымоходу или фронтону с помощью кронштейна, либо хомутов
  .col-md-4
    .block-img
      img(class="img-responsive" src='images/main/loc-montage-1.jpg')
    .block-description
      h3 Маленькая антенна
      p Монтаж антенны на телескопическую мачту с оттяжками.
  .col-md-4
    .block-img
      img(class="img-responsive" src='images/main/loc-montage-1.jpg')
    .block-description
      h3 Маленькая антенна
      p Монтаж антенны на телескопическую мачту с оттяжками.
