.row
  .col-md-5
    p.footer-text © 2011-2014 «Кантри Онлайн» — <br>интерент в Ленинградской области
    p Карта сайта
  .col-md-3.col-md-offset-1
    ul.buttom-menu
      li.buttom-menu__elem
        a.buttom-menu__link О компании
      li.buttom-menu__elem
        a.buttom-menu__link Новости
      li.buttom-menu__elem
        a.buttom-menu__link Контактная информация
  .col-md-3
    ul.buttom-menu
      li.buttom-menu__elem 
        a.buttom-menu__link Личный кабинет
      li.buttom-menu__elem 
        a.buttom-menu__link Оплата
      li.buttom-menu__elem 
        a.buttom-menu__link Лицензии
