.head
  .container
    .row
      .col-md-5
        .head-text Интернет провайдер <br> в Ленинградской области
        button.btn-tophead Опрос для клиентов
      .col-md-2.phone-top +7 812 448-88-68
      .col-md-2.phone-top +7 812 903-25-56
      .col-md-2.lk-box
        a.head-link(data-toggle='modal' data-target='.bs-example-modal-sm') личный кабинет
