head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title="Кантри онлайн — интернет провайдер в лененградской области"
  link(href="css/bootstrap.css" rel="stylesheet")
  link(href="css/animate.min.css" rel="stylesheet")
  link(href="css/main.css" rel="stylesheet")
  <!--[if lt IE 9]>
  script(src="js/html5shiv.js")
  script(src="js/respond.src.js")
  <![endif]-->