case subcatsmenu_open
  when 0
    .main-menu__subcats-box
      ul.submenu-box.main-menu__subcats
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Об услуге
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Тарифы
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Акции
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Карта покрытия
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Оборудование
  when 1
    .main-menu__subcats-box_open
      ul.submenu-box.main-menu__subcats
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Об услуге
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Тарифы
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Акции
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Карта покрытия
        li.main-menu__subcats-elem
          a.main-menu__subcats-link Оборудование