.col-md-4
  p.tariff-link
    a #{tariflink}
  .tariff-box
    .tariff-name
      h4.tariff-name-h #{tarifname}
    .tariff-main-opt.text-center
      p #{tarifspeed}<br><small>Мбит/с</small>
    .tariff-price-box
      .tariff-price #{tarifprice} <small>руб/мес</small>
      .tariff-btn-box
        button.btn-main-action подключить